* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: #ffffff;
}

body {
  background-color: #343838;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

body h1 {
  margin: 20px 0 20px 0;
}

.container_content {
  border: 1px solid green;
  display: flex;
  justify-content: center;
  width: 90%;
  height: 80vh;


}

.container_search {
  border: 1px solid red;
  max-height: 50%;
  max-width: 60%;
  width: 100%;
}

.search_input {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.search_input label {
  font-size: 18px;
}

.search {
  width: 300px;
  height: 40px;
}